@page
@model Nemesys.Views.Nemesys.SuccessfulRegistrationModel


<div class="text-center">
    <h2>
        Congratulations! You have successfuly registrated to Nemesys!
        Return to <a asp-area="" asp-controller="Home" asp-action="Index">home</a> page.
    </h2>
</div>
